

.page-container { padding-top: 56px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; min-height: 645px;
}
nav:lang(en) { font-size: 16px;
}
nav { font-size: 20px; background-color: #FFF; z-index: 99; position: relative; width: 100%; padding-top: 15px; height: 55px; color: #B1B1B1; box-shadow: -1px 2px 5px 3px #c2c2c2;
}
nav .active a { color: #4D4D4D;
}
nav a { color: #B1B1B1;
}
nav a:hover { text-decoration: none; color: #247BB7;
}
nav li { padding-left: 5px; vertical-align: top; height: 50px;
}
nav li .mini-logo { margin-top: -6px; height: 32px; margin-right: 15px;
}
nav li img { margin-right: 15px;
}
nav li a { padding-right: 14px;
}
nav li .sublevel { background-color: #F2F2F2; color: #666; position: absolute; top: 55px; left: 0; width: 100%; visibility: hidden; box-shadow: 0 5px 1px rgba(194,194,194,0.5); padding-left: 5px;
}
nav li .sublevel ul.list-unstyled { margin: 15px 10px -10px 50px; max-width: 1170px; float: left;
}
nav li .sublevel ul.list-unstyled li { cursor: pointer;
}
nav li .sublevel ul.list-unstyled li img { width: 30px; height: 30px;
}
nav li .sublevel ul.list-unstyled li div { margin-right: 15px;
}
nav li .sublevel a { color: #4D4D4D; border-right: none;
}
nav li .sublevel a:hover { text-decoration: none; color: #247BB7;
}
nav li:hover .sublevel { visibility: visible;
}
.right-topbar { position: absolute; right: 10px; top: 5px; z-index: 100; height: 52px;
}
.right-topbar li { vertical-align: top;
}
.right-topbar li p.test-topbar { margin-top: 10px; line-height: 24px; border-left: 1px solid #E5E5E5;
}
.right-topbar .list-inline>li { padding-right: 0px;
}
.right-topbar .worktime { font-size: 13px; padding-top: 6px; color: #247BB7; width: 260px; height: 30px;
}
.right-topbar .worktime img { margin-right: 5px;
}
.right-topbar .worktime .number { color: red; font-size: 30px; font-weight: bold; margin-bottom: -3px; margin-top: -3px;
}
.right-topbar .worktime .number a { color: red;
}
.right-topbar .worktime i { padding-top: 8px; margin-right: 0;
}
.right-topbar .worktime .date { font-weight: bold;
}
.right-topbar .icon-flag { height: 21px; width: 32px; margin-top: 11px; margin-left: 10px;
}
@media only screen and (max-width: 767px) { .right-topbar { text-align: left !important; padding-top: 5px; } .right-topbar .worktime { font-size: 10px; } .right-topbar .worktime span { font-size: 18px; } .right-topbar .icon-flag { position: absolute; right: 20px; } .right-topbar .no-padding { padding: 0; }
}
.star .fa-star,
.star .fa-star-o,
.star .fa-star-half-o { font-size: 11px;
}
.fa-phone { -webkit-transform: rotate(30deg); -moz-transform: rotate(30deg); -o-transform: rotate(30deg); -ms-transform: rotate(30deg); transform: rotate(30deg);
}
.nav-pills.nav-wizard > li + li { margin-left: 0px;
}
.nav-pills.nav-wizard > li { position: relative; overflow: visible; border-right: 15px solid #fff; border-left: 15px solid #fff;
}
.nav-pills.nav-wizard > li:first-child { border-left: 0;
}
.nav-pills.nav-wizard > li:last-child { border-right: 0;
}
.nav-pills.nav-wizard > li > a { padding: 10px 8px; text-align: left;
}
.nav-pills.nav-wizard > li a { border-radius: 0; background-color: #eee;
}
.nav-pills.nav-wizard > li .nav-arrow { position: absolute; top: 0px; right: -19px; width: 0px; height: 0px; border-style: solid; border-width: 20px 0 20px 20px; border-color: transparent transparent transparent #eee; z-index: 150;
}
.nav-pills.nav-wizard > li .nav-wedge { position: absolute; top: 0px; left: -20px; width: 0px; height: 0px; border-style: solid; border-width: 20px 0 20px 20px; border-color: #eee #eee #eee transparent; z-index: 150;
}
.nav-pills.nav-wizard > li .nav-number { background-color: #CCC; color: #FFF; padding: 4px 8px;
}
.nav-pills.nav-wizard > li:hover .nav-arrow { border-color: transparent transparent transparent #aaa;
}
.nav-pills.nav-wizard > li:hover .nav-wedge { border-color: #aaa #aaa #aaa transparent;
}
.nav-pills.nav-wizard > li:hover a { background-color: #aaa; color: #fff;
}
.nav-pills.nav-wizard > li.active .nav-arrow,
.nav-pills.nav-wizard > li.active-chain .nav-arrow { border-color: transparent transparent transparent #29AAE3;
}
.nav-pills.nav-wizard > li.active .nav-wedge,
.nav-pills.nav-wizard > li.active-chain .nav-wedge { border-color: #29AAE3 #29AAE3 #29AAE3 transparent;
}
.nav-pills.nav-wizard > li.active .nav-number,
.nav-pills.nav-wizard > li.active-chain .nav-number { background-color: #FFF; color: #29AAE3; padding: 4px 8px;
}
.nav-pills.nav-wizard > li.active a,
.nav-pills.nav-wizard > li.active-chain a { color: #FFF; background-color: #29AAE3;
}
.i-blue { color: #29ACE0;
}
.i-yellow { color: #FCAF3B;
}
.i-orange { color: #FCB03C;
}
.i-gray { color: #CCCCCC;
}
.i-stone { color: #808080;
}
.i-black { color: #4D4D4D;
}
.i-white { color: #FFFFFF;
}
.i-red { color: #D92B26;
}
.i-green { color: #008A1A;
}
.f-blue { color: #29ACE0;
}
.f-navy { color: #2F62BD;
}
.popover { font-weight: normal !important;
}
.popover .popover-title { background-color: #29AAE3; font-weight: bold; color: white;
}
.modal-dialog { padding-top: 10%;
}
.modal-dialog .fa-times { cursor: pointer; color: #2CC6E0;
}
.title-1 { font-weight: bold; margin: 20px 0 40px 0; font-size: 36px;
}
.title-2 { font-weight: bold; margin: 15px 0; font-size: 28px;
}
.table > tbody > tr > td { border-top: none;
}
.bg-blue { color: #FFF; background-color: #29AAE3;
}
.bg-light { color: #656565; background-color: #E9F6FF;
}
.social-list li { margin-right: 10px;
}
.social-list .social-icon { background-color: #355989; border-radius: 0; color: #FFFFFF; height: 65px; text-align: center; vertical-align: middle; line-height: 97px; width: 65px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease;
}
.social-list .social-icon i { font-size: 3.5em;
}
.social-list .social-icon:hover { background-color: #19293f;
}
.social-list .social-icon.facebook { padding-left: 1px;
}
.btn { font-weight: bold; border-width: 0px;
}
.btn:hover { color: #FFF;
}
.btn.btn-border-lg { border-bottom-width: 6px !important;
}
.btn.btn-border-sm { border-bottom-width: 4px !important;
}
.btn.btn-border-xs { padding-top: 3px; border-bottom-width: 2px !important;
}
.btn.btn-sea { background-color: #355989; border-color: #247DB7; color: #FFF;
}
.btn.btn-sea:hover { background-color: #3c659b;
}
.btn.btn-action { font-size: 2em; padding: 14px 24px 8px 24px;
}
.btn.btn-blue { background-color: #2BC7E0; border-color: #2DAAE2; color: #FFF;
}
.btn.btn-blue:hover { background-color: #41cde3;
}
.btn.btn-navy { background-color: #29AAE3; border-color: #2A90E2; color: #FFF;
}
.btn.btn-navy:hover { background-color: #40b3e6;
}
.btn.btn-leaf { background-color: #1AC788; border-color: #1FA582; color: #FFF;
}
.btn.btn-leaf:hover { background-color: #1dde97;
}
.btn.btn-gray { background-color: #373434; border-color: #999999; color: #FFF;
}
.btn.btn-gray:hover { background-color: #444040;
}
.btn.btn-margin { margin: 5px 0;
}
.switch { position: relative; vertical-align: top; width: 75px; height: 30px; margin: -5px 0 8px -3px; padding: 3px; border-radius: 20px; cursor: pointer;
}
.switch .switch-input { position: absolute; top: 0; left: 0; opacity: 0;
}
.switch .switch-label { display: block; font-size: 14px; text-transform: uppercase; border-radius: 20px; position: relative; height: inherit; background: #999999; -webkit-transition: 0.3s ease-out; -moz-transition: 0.3s ease-out; -o-transition: 0.3s ease-out; transition: 0.3s ease-out;
}
.switch .switch-label:before,
.switch .switch-label:after { position: absolute; top: 50%; margin-top: -6px; line-height: 1;
}
.switch .switch-label:before { content: attr(data-off); right: 10px; color: #FFFFFF;
}
.switch .switch-label:after { content: attr(data-on); left: 10px; color: #FFFFFF; opacity: 0;
}
.switch .switch-input:checked ~ .switch-label { background: #2FCCFF;
}
.switch .switch-input:checked ~ .switch-label:before { opacity: 0;
}
.switch .switch-input:checked ~ .switch-label:after { opacity: 1;
}
.switch .switch-handle { position: absolute; top: 7px; left: 7px; width: 22px; height: 22px; border-radius: 20px; background-image: -webkit-linear-gradient(top,white 40%,#f0f0f0); background-image: -moz-linear-gradient(top,white 40%,#f0f0f0); background-image: -o-linear-gradient(top,white 40%,#f0f0f0); background-image: linear-gradient(top,white 40%,#f0f0f0); -webkit-transition: left 0.3s ease-out; -moz-transition: left 0.3s ease-out; -o-transition: left 0.3s ease-out; transition: left 0.3s ease-out;
}
.switch .switch-input:checked ~ .switch-handle { left: 45px;
}
main { position: relative; z-index: 1;
}

.single-content { padding: 0 0 60px 0; margin-top: 40px; min-height: 400px;
}
.single-content .title { font-size: 1.125em;
}
.single-content ul { list-style-image: url("/images/site/icons/bullet-orange.png"); padding-left: 20px;
}
.single-content ol { list-style-image: url("/images/site/icons/bullet-orange.png"); padding-left: 20px;
}
.single-content .advertise { background-color: #CCC;
}
.single-content .pic-respon { margin-top: 10px; display: block; height: auto; max-width: 100%;
}
.single-content a { color: #2a6496;
}
.single-content a:hover,
.single-content a:focus { color: #247BB7; text-decoration: none;
}
.single-content a.active { color: #FEC201;
}
.single-content .content { letter-spacing: 0.0222em;
}
.single-content img { vertical-align: middle;
}
.single-content .upd-section { border-top: 1px solid; border-bottom: 1px solid; border-top-color: #B2B2B2; border-bottom-color: #B2B2B2; padding-top: 5px;
}
.single-content .upd-section .content { text-align: center; font-size: 1.1em; margin-top: 30px; margin-bottom: 32px;
}
.single-content .breadcrumb-wrap { background-color: #F2F2F2;
}
.single-content .breadcrumb-wrap .breadcrumb { background-color: rgba(0,0,0,0); margin-bottom: 0;
}
.single-content .breadcrumb-wrap .breadcrumb a { text-decoration: none; color: #329DD1;
}
.single-content .breadcrumb-wrap .breadcrumb a:focus { color: #329DD1;
}
.single-content .breadcrumb-wrap .pic a { color: #329DD1;
}
.single-content .breadcrumb-wrap .pic a:focus { color: #329DD1;
}
.single-content .breadcrumb-wrap .breadcrumb > li + li:before { content: ">";
}
.single-content .benefits { position: relative; background-color: #EDEDD3; padding: 15px 25px 35px 25px;
}
.single-content .benefits h3 { color: #8D633B; font-weight: bold;
}
.single-content .benefits a { background-size: auto; text-decoration: none; font-family: 'supermarketregular' !important;
}
.single-content .benefits .start-btm { color: #FFF; margin-top: 10px; font-size: 1.2em;
}
.single-content .benefits .block { margin: 10px 0 0 0px; display: block; padding-left: 0; padding-right: 0; width: 100%;
}
.single-content .benefits .btm { text-align: center; vertical-align: middle; padding: 6px 0 6px 0; border-top-right-radius: 4px; border-top-left-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; border-left: medium none !important; border-right: medium none !important; border-top: medium none !important; font-weight: bold !important;
}
.single-content .benefits .btm:hover { top: -2px;
}
.single-content .benefits .btm-primary { background-color: #3AB54A; border-bottom: 4px solid #399A49;
}
.single-content .benefits .btm-primary:focus { background-color: #3AB54A; border-bottom: 4px solid #399A49;
}
.single-content .benefits .btm-primary:hover { background-color: #3AB54A; border-bottom: 6px solid #399A49; position: relative;
}
.single-content .benefits .discount { position: absolute; right: 0px; top: 0px; height: 85px;
}
.single-content .benefits ul { list-style-image: url('/images/site/icons/correct.png');
}
.single-content .benefits ul li { margin-bottom: 5px;
}
.single-content p { margin-bottom: 10px;
}
