.gray-border { border: 1px solid #DDD;
}
.icon-dbd-oic-logo,
.icon-reminder-en,
.icon-reminder-en2,
.icon-reminder-th,
.icon-reminder-th2,
.icon-secured-logo,
.icon-24hr-phone-white,
.icon-24hr-phone-yellow,
.icon-24hr-phone,
.icon-menu-icon-insurace-info,
.icon-menu-icon-viriyah,
.icon-menu-icon-why,
.icon-navigation-icons-01,
.icon-navigation-icons-02,
.icon-navigation-icons-03,
.icon-navigation-icons-04,
.icon-language-en,
.icon-language-th,
.icon-menu-icon-bki,
.icon-menu-icon-dhi { background: url('../images/main-icons.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left;
}
.icon-dbd-oic-logo { background-position: -5px 0px; width: 151px; height: 36px;
}
.icon-reminder-en { background-position: -5px -41px; width: 130px; height: 46px;
}
.icon-reminder-en2 { background-position: -5px -92px; width: 130px; height: 46px;
}
.icon-reminder-th { background-position: -5px -143px; width: 130px; height: 46px;
}
.icon-reminder-th2 { background-position: -5px -194px; width: 130px; height: 46px;
}
.icon-secured-logo { background-position: -5px -245px; width: 86px; height: 45px;
}
.icon-24hr-phone-white { background-position: -96px -245px; width: 48px; height: 31px;
}
.icon-24hr-phone-yellow { background-position: -96px -281px; width: 48px; height: 31px;
}
.icon-24hr-phone { background-position: -5px -295px; width: 48px; height: 31px;
}
.icon-menu-icon-insurace-info { background-position: -58px -295px; width: 32px; height: 32px;
}
.icon-menu-icon-viriyah { background-position: -95px -317px; width: 32px; height: 32px;
}
.icon-menu-icon-why { background-position: -5px -331px; width: 32px; height: 32px;
}
.icon-navigation-icons-01 { background-position: -42px -332px; width: 32px; height: 32px;
}
.icon-navigation-icons-02 { background-position: -79px -354px; width: 32px; height: 32px;
}
.icon-navigation-icons-03 { background-position: -116px -354px; width: 32px; height: 32px;
}
.icon-navigation-icons-04 { background-position: -5px -368px; width: 32px; height: 32px;
}
.icon-language-en { background-position: -42px -369px; width: 30px; height: 20px;
}
.icon-language-th { background-position: -77px -391px; width: 30px; height: 20px;
}
.icon-menu-icon-bki { background-position: -112px -391px; width: 30px; height: 30px;
}
.icon-menu-icon-dhi { background-position: -42px -394px; width: 29px; height: 30px;
}



.trust-shield-0per,
.trust-shield-24h,
.trust-shield-30s,
.trust-shield-bath,
.trust-shield-gift { display: inline-block; background: url('../images/trust-sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left;
}
.trust-shield-0per { background-position: 0px 0px; width: 36px; height: 38px;
}
.trust-shield-24h { background-position: -36px 0px; width: 36px; height: 38px;
}
.trust-shield-30s { background-position: 0px -38px; width: 36px; height: 38px;
}
.trust-shield-bath { background-position: -36px -38px; width: 36px; height: 38px;
}
.trust-shield-gift { background-position: 0px -76px; width: 36px; height: 38px;
}
